# Twitch OAuth app credentials
NUXT_OAUTH_TWITCH_CLIENT_ID=""
NUXT_OAUTH_TWITCH_CLIENT_SECRET=""

# Will redirect to
NUXT_PUBLIC_SIGN_IN_REDIRECT_URL=""
NUXT_PUBLIC_STREAMER_REDIRECT_URL=""
NUXT_PUBLIC_DONATION_ALERTS_REDIRECT_URL=""

# Donation Alerts app credentials
NUXT_DONATION_ALERTS_CLIENT_ID=""
NUXT_DONATION_ALERTS_CLIENT_SECRET=""

# Yookassa payments
NUXT_YOOKASSA_SHOP_ID=""
NUXT_YOOKASSA_API_KEY=""

# Secrets
NUXT_SESSION_PASSWORD=""

# WebSocket server with event messages
NUXT_PUBLIC_WEBSOCKET_URL="ws://localhost:4200/api/websocket"

# Database
NUXT_DATABASE_URL=""

# App version
VERSION=""
